In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('movie.csv', header=None)
movies.columns = ['id', 'title', 'description', 'img_url', 'year', 'genre']
movies = movies.groupby('id').last()
movies.head()

,title,description,img_url,year,genre
id,,,,,
1,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,https://image.tmdb.org/t/p/w500/9O7gLzmreU0nGk...,1994,"Crime, Drama"
2,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",https://image.tmdb.org/t/p/w500/rPdtLWNsZmAtoZ...,1972,"Crime, Drama"
3,The Godfather: Part II,In the continuing saga of the Corleone crime f...,https://image.tmdb.org/t/p/w500/bVq65huQ8vHDd1...,1974,"Crime, Drama"
4,The Dark Knight,Batman raises the stakes in his war on crime. ...,https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7D...,2008,"Crime, Drama, Action"
5,12 Angry Men,The defense and the prosecution have rested an...,https://image.tmdb.org/t/p/w500/3W0v956XxSG5xg...,1957,Drama

# Add all data section

## Brightness

In [3]:
brightness = pd.DataFrame([{'brightness': 47.0207216962268, 'id': 1},
 {'brightness': 34.349708771936925, 'id': 2},
 {'brightness': 41.98642479018733, 'id': 3},
 {'brightness': 28.69833729461539, 'id': 4},
 {'brightness': 64.29498819628161, 'id': 5},
 {'brightness': 54.941051425536514, 'id': 6},
 {'brightness': 48.73450650287093, 'id': 7},
 {'brightness': 62.4771682790062, 'id': 8},
 {'brightness': 79.39764257216392, 'id': 9},
 {'brightness': 33.114172082000174, 'id': 10},
 {'brightness': 72.22208787714682, 'id': 16},
 {'brightness': 36.25642504682845, 'id': 17},
 {'brightness': 45.7249815465418, 'id': 18},
 {'brightness': 51.71623986677689, 'id': 19},
 {'brightness': 46.39611597709551, 'id': 20},
 {'brightness': 38.935231545415256, 'id': 11},
 {'brightness': 64.42584960242819, 'id': 12},
 {'brightness': 59.38652916649782, 'id': 13},
 {'brightness': 39.098367534322136, 'id': 14},
 {'brightness': 50.766632047870374, 'id': 15},
 {'brightness': 64.83422400458784, 'id': 21},
 {'brightness': 36.98506505681612, 'id': 22},
 {'brightness': 38.87750259893631, 'id': 23},
 {'brightness': 45.88821427955166, 'id': 24},
 {'brightness': 62.22885496767156, 'id': 25},
 {'brightness': 48.1457516930584, 'id': 26},
 {'brightness': 65.88007630244503, 'id': 27},
 {'brightness': 79.58868924586415, 'id': 28},
 {'brightness': 75.28673171924616, 'id': 29},
 {'brightness': 60.174631364257976, 'id': 30},
 {'brightness': 55.400311637922904, 'id': 32},
 {'brightness': 40.64099988188777, 'id': 33},
 {'brightness': 51.06806336149819, 'id': 34},
 {'brightness': 49.51408496564747, 'id': 35},
 {'brightness': 79.8909834742566, 'id': 36},
 {'brightness': 59.53983464055615, 'id': 37},
 {'brightness': 86.16104657936235, 'id': 38},
 {'brightness': 58.01824432231118, 'id': 39},
 {'brightness': 51.51671455656315, 'id': 40},
 {'brightness': 66.69338839623569, 'id': 31},
 {'brightness': 59.96563550865589, 'id': 48},
 {'brightness': 57.587745187016395, 'id': 49},
 {'brightness': 41.999410478723945, 'id': 50},
 {'brightness': 49.00493982590267, 'id': 41},
 {'brightness': 77.74971461241945, 'id': 43},
 {'brightness': 47.01648003512735, 'id': 44},
 {'brightness': 31.824990109922055, 'id': 45},
 {'brightness': 41.44478449948558, 'id': 46},
 {'brightness': 30.96068063974625, 'id': 47},
 {'brightness': 42.83087311427158, 'id': 51},
 {'brightness': 98.676717190698, 'id': 52},
 {'brightness': 41.482673010287535, 'id': 53},
 {'brightness': 49.92697626619624, 'id': 54},
 {'brightness': 49.0085026328621, 'id': 55},
 {'brightness': 50.34008551836622, 'id': 56},
 {'brightness': 65.93668865278455, 'id': 57},
 {'brightness': 61.71190536789205, 'id': 58},
 {'brightness': 46.69101828482604, 'id': 59},
 {'brightness': 61.429306966538896, 'id': 60},
 {'brightness': 80.39208373584454, 'id': 61},
 {'brightness': 48.24872383570491, 'id': 63},
 {'brightness': 28.67193465974742, 'id': 64},
 {'brightness': 65.25805548185924, 'id': 65},
 {'brightness': 53.268871719441755, 'id': 66},
 {'brightness': 43.10149610934035, 'id': 67},
 {'brightness': 51.43790630314626, 'id': 68},
 {'brightness': 45.43040393838405, 'id': 69},
 {'brightness': 30.31497982553673, 'id': 70},
 {'brightness': 58.3650131041887, 'id': 71},
 {'brightness': 43.38300244450317, 'id': 72},
 {'brightness': 33.59459357583704, 'id': 73},
 {'brightness': 48.36026397732885, 'id': 74},
 {'brightness': 35.927669929038935, 'id': 75},
 {'brightness': 46.99031978512156, 'id': 76},
 {'brightness': 52.144651487666074, 'id': 77},
 {'brightness': 68.43925453917676, 'id': 78},
 {'brightness': 51.34347629934701, 'id': 79},
 {'brightness': 51.83686103797745, 'id': 80},
 {'brightness': 93.49841403554423, 'id': 81},
 {'brightness': 95.37887791609926, 'id': 82},
 {'brightness': 66.69373756628788, 'id': 83},
 {'brightness': 61.82433140912297, 'id': 84},
 {'brightness': 46.38279981250883, 'id': 85},
 {'brightness': 56.899239511855335, 'id': 86},
 {'brightness': 57.424166439047916, 'id': 87},
 {'brightness': 38.33966903304433, 'id': 88},
 {'brightness': 64.60261674309665, 'id': 89},
 {'brightness': 83.14009349498458, 'id': 90},
 {'brightness': 62.42255575088476, 'id': 96},
 {'brightness': 32.799296679503975, 'id': 97},
 {'brightness': 75.07839507018001, 'id': 98},
 {'brightness': 50.79124198317639, 'id': 251},
 {'brightness': 64.8808642036625, 'id': 100},
 {'brightness': 71.87949017958721, 'id': 252},
 {'brightness': 32.15727695127473, 'id': 253},
 {'brightness': 36.37679835990447, 'id': 254},
 {'brightness': 42.77663169841577, 'id': 91},
 {'brightness': 52.12769679432361, 'id': 92},
 {'brightness': 66.39992922149247, 'id': 93},
 {'brightness': 81.3465197461666, 'id': 94},
 {'brightness': 49.3312277269768, 'id': 95}])
brightness = brightness.groupby('id').last()
brightness.head()

    brightness
id
1    47.020722
2    34.349709
3    41.986425
4    28.698337
5    64.294988

In [4]:
movies['brightness'] = brightness['brightness']

## Happiness

In [5]:
emotions = pd.DataFrame([{'h/(h+s)': 0.30094043887147337, 's/all': 0.30886426592797783, 'h/all': 0.1329639889196676, 'index': 1.0},
{'h/(h+s)': 0.12450592885375494, 's/all': 0.53245192307692313, 'h/all': 0.075721153846153841, 'index': 2.0},
{'h/(h+s)': 0.065934065934065936, 's/all': 0.69672131147540983, 'h/all': 0.049180327868852458, 'index': 3.0},
{'h/(h+s)': 0.13793103448275862, 's/all': 0.4838709677419355, 'h/all': 0.077419354838709681, 'index': 4.0},
{'h/(h+s)': 0.13278008298755187, 's/all': 0.31618759455370649, 'h/all': 0.048411497730711045, 'index': 5.0},
{'h/(h+s)': 0.26285714285714284, 's/all': 0.39938080495356038, 'h/all': 0.14241486068111456, 'index': 6.0},
{'h/(h+s)': 0.2140221402214022, 's/all': 0.31415929203539822, 'h/all': 0.085545722713864306, 'index': 7.0},
{'h/(h+s)': 0.18227848101265823, 's/all': 0.38044758539458184, 'h/all': 0.084805653710247356, 'index': 8.0},
{'h/(h+s)': 0.28494623655913981, 's/all': 0.28663793103448276, 'h/all': 0.11422413793103449, 'index': 9.0},
{'h/(h+s)': 0.28865979381443296, 's/all': 0.29999999999999999, 'h/all': 0.12173913043478261, 'index': 10.0},
{'h/(h+s)': 0.15261044176706828, 's/all': 0.36285468615649186, 'h/all': 0.065348237317282884, 'index': 11.0},
{'h/(h+s)': 0.20689655172413793, 's/all': 0.38764044943820225, 'h/all': 0.10112359550561797, 'index': 12.0},
{'h/(h+s)': 0.066666666666666666, 's/all': 0.3783783783783784, 'h/all': 0.027027027027027029, 'index': 13.0},
{'h/(h+s)': 0.053742802303262956, 's/all': 0.49054726368159202, 'h/all': 0.027860696517412936, 'index': 14.0},
{'h/(h+s)': 0.13636363636363635, 's/all': 0.33129904097646035, 'h/all': 0.052310374891020049, 'index': 15.0},
{'h/(h+s)': 0.29629629629629628, 's/all': 0.34545454545454546, 'h/all': 0.14545454545454545, 'index': 16.0},
{'h/(h+s)': 0.18292682926829268, 's/all': 0.34835355285961872, 'h/all': 0.077989601386481797, 'index': 17.0},
{'h/(h+s)': 0.11693548387096774, 's/all': 0.34433962264150941, 'h/all': 0.045597484276729557, 'index': 18.0},
{'h/(h+s)': 0.27192982456140352, 's/all': 0.1828193832599119, 'h/all': 0.068281938325991193, 'index': 19.0},
{'h/(h+s)': 0.25, 's/all': 0.28021978021978022, 'h/all': 0.093406593406593408, 'index': 20.0},
{'h/(h+s)': 0.32786885245901637, 's/all': 0.31297709923664124, 'h/all': 0.15267175572519084, 'index': 21.0},
{'h/(h+s)': 0.15642458100558659, 's/all': 0.4660493827160494, 'h/all': 0.086419753086419748, 'index': 22.0},
{'h/(h+s)': 0.34562211981566821, 's/all': 0.27047619047619048, 'h/all': 0.14285714285714285, 'index': 23.0},
{'h/(h+s)': 0.46280991735537191, 's/all': 0.22222222222222221, 'h/all': 0.19145299145299147, 'index': 24.0},
{'h/(h+s)': 0.48148148148148145, 's/all': 0.19029126213592232, 'h/all': 0.1766990291262136, 'index': 25.0},
{'h/(h+s)': 0.11607142857142858, 's/all': 0.33904109589041098, 'h/all': 0.044520547945205477, 'index': 26.0},
{'h/(h+s)': 0.084175084175084181, 's/all': 0.51809523809523805, 'h/all': 0.047619047619047616, 'index': 27.0},
{'h/(h+s)': 0.24867724867724866, 's/all': 0.4507936507936508, 'h/all': 0.1492063492063492, 'index': 28.0},
{'h/(h+s)': 0.30303030303030304, 's/all': 0.25274725274725274, 'h/all': 0.10989010989010989, 'index': 29.0},
{'h/(h+s)': 0.21691176470588236, 's/all': 0.36660929432013767, 'h/all': 0.10154905335628227, 'index': 30.0},
{'h/(h+s)': 0.14018691588785046, 's/all': 0.30666666666666664, 'h/all': 0.050000000000000003, 'index': 31.0},
{'h/(h+s)': 0.2361111111111111, 's/all': 0.3503184713375796, 'h/all': 0.10828025477707007, 'index': 32.0},
{'h/(h+s)': 0.11644657863145258, 's/all': 0.44204204204204206, 'h/all': 0.058258258258258255, 'index': 33.0},
{'h/(h+s)': 0.18859649122807018, 's/all': 0.23432552248258393, 'h/all': 0.05446485117162761, 'index': 34.0},
{'h/(h+s)': 0.31278538812785389, 's/all': 0.27973977695167285, 'h/all': 0.12732342007434944, 'index': 35.0},
{'h/(h+s)': 0.65289256198347112, 's/all': 0.11931818181818182, 'h/all': 0.22443181818181818, 'index': 36.0},
{'h/(h+s)': 0.27419354838709675, 's/all': 0.27777777777777779, 'h/all': 0.10493827160493827, 'index': 37.0},
{'h/(h+s)': 0.5, 's/all': 0.16500000000000001, 'h/all': 0.16500000000000001, 'index': 38.0},
{'h/(h+s)': 0.37777777777777777, 's/all': 0.36842105263157893, 'h/all': 0.22368421052631579, 'index': 39.0},
{'h/(h+s)': 0.14393939393939395, 's/all': 0.44313725490196076, 'h/all': 0.074509803921568626, 'index': 40.0},
{'h/(h+s)': 0.14851485148514851, 's/all': 0.35354573484069884, 'h/all': 0.061664953751284689, 'index': 41.0},
{'h/(h+s)': 0.11475409836065574, 's/all': 0.3253012048192771, 'h/all': 0.042168674698795178, 'index': 43.0},
{'h/(h+s)': 0.21052631578947367, 's/all': 0.31531531531531531, 'h/all': 0.08408408408408409, 'index': 44.0},
{'h/(h+s)': 0.18326693227091634, 's/all': 0.39728682170542634, 'h/all': 0.089147286821705432, 'index': 45.0},
{'h/(h+s)': 0.11510791366906475, 's/all': 0.3923444976076555, 'h/all': 0.051036682615629984, 'index': 46.0},
{'h/(h+s)': 0.21975308641975308, 's/all': 0.37799043062200954, 'h/all': 0.10645933014354067, 'index': 47.0},
{'h/(h+s)': 0.40000000000000002, 's/all': 0.59999999999999998, 'h/all': 0.40000000000000002, 'index': 48.0},
{'h/(h+s)': 0.20220588235294118, 's/all': 0.39099099099099099, 'h/all': 0.0990990990990991, 'index': 49.0},
{'h/(h+s)': 0.021897810218978103, 's/all': 0.55144032921810704, 'h/all': 0.012345679012345678, 'index': 50.0},
{'h/(h+s)': 0.10344827586206896, 's/all': 0.48148148148148145, 'h/all': 0.055555555555555552, 'index': 51.0},
{'h/(h+s)': 0.34883720930232559, 's/all': 0.099115044247787609, 'h/all': 0.053097345132743362, 'index': 52.0},
{'h/(h+s)': 0.14326647564469913, 's/all': 0.44494047619047616, 'h/all': 0.074404761904761904, 'index': 53.0},
{'h/(h+s)': 0.40127388535031849, 's/all': 0.32302405498281789, 'h/all': 0.21649484536082475, 'index': 54.0},
{'h/(h+s)': 0.2861736334405145, 's/all': 0.38743455497382201, 'h/all': 0.15532286212914484, 'index': 55.0},
{'h/(h+s)': 0.15748031496062992, 's/all': 0.33647798742138363, 'h/all': 0.062893081761006289, 'index': 56.0},
{'h/(h+s)': 0.41666666666666669, 's/all': 0.12962962962962962, 'h/all': 0.092592592592592587, 'index': 57.0},
{'h/(h+s)': 0.28000000000000003, 's/all': 0.26666666666666666, 'h/all': 0.1037037037037037, 'index': 58.0},
{'h/(h+s)': 0.21951219512195122, 's/all': 0.34782608695652173, 'h/all': 0.097826086956521743, 'index': 59.0},
{'h/(h+s)': 0.63568773234200748, 's/all': 0.13154362416107382, 'h/all': 0.22953020134228189, 'index': 60.0},
{'h/(h+s)': 0.53333333333333333, 's/all': 0.19444444444444445, 'h/all': 0.22222222222222221, 'index': 61.0},
{'h/(h+s)': 0.33546325878594252, 's/all': 0.30678466076696165, 'h/all': 0.15486725663716813, 'index': 63.0},
{'h/(h+s)': 0.10429447852760736, 's/all': 0.49659863945578231, 'h/all': 0.057823129251700682, 'index': 64.0},
{'h/(h+s)': 0.25, 's/all': 0.11392405063291139, 'h/all': 0.037974683544303799, 'index': 65.0},
{'h/(h+s)': 0.38671875, 's/all': 0.30192307692307691, 'h/all': 0.19038461538461537, 'index': 66.0},
{'h/(h+s)': 0.17289719626168223, 's/all': 0.3443579766536965, 'h/all': 0.071984435797665364, 'index': 67.0},
{'h/(h+s)': 0.20524017467248909, 's/all': 0.35271317829457366, 'h/all': 0.091085271317829453, 'index': 68.0},
{'h/(h+s)': 0.22277227722772278, 's/all': 0.34562465602641718, 'h/all': 0.099064391854705558, 'index': 69.0},
{'h/(h+s)': 0.076142131979695438, 's/all': 0.58146964856230032, 'h/all': 0.047923322683706068, 'index': 70.0},
{'h/(h+s)': 0.3235294117647059, 's/all': 0.24420849420849422, 'h/all': 0.1167953667953668, 'index': 71.0},
{'h/(h+s)': 0.49382716049382713, 's/all': 0.23976608187134502, 'h/all': 0.23391812865497075, 'index': 72.0},
{'h/(h+s)': 0.20501138952164008, 's/all': 0.22472633612363169, 'h/all': 0.057952350289761749, 'index': 73.0},
{'h/(h+s)': 0.24197530864197531, 's/all': 0.32521186440677968, 'h/all': 0.1038135593220339, 'index': 74.0},
{'h/(h+s)': 0.15841584158415842, 's/all': 0.28523489932885904, 'h/all': 0.053691275167785234, 'index': 75.0},
{'h/(h+s)': 0.17196261682242991, 's/all': 0.37478849407783416, 'h/all': 0.077834179357021999, 'index': 76.0},
{'h/(h+s)': 0.20858895705521471, 's/all': 0.37719298245614036, 'h/all': 0.099415204678362568, 'index': 77.0},
{'h/(h+s)': 0.31914893617021278, 's/all': 0.30188679245283018, 'h/all': 0.14150943396226415, 'index': 78.0},
{'h/(h+s)': 0.28175519630484991, 's/all': 0.50569105691056915, 'h/all': 0.19837398373983739, 'index': 79.0},
{'h/(h+s)': 0.33724340175953077, 's/all': 0.26066897347174162, 'h/all': 0.13264129181084197, 'index': 80.0},
{'h/(h+s)': 0.38202247191011235, 's/all': 0.16140865737344093, 'h/all': 0.099779897285399849, 'index': 81.0},
{'h/(h+s)': 0.19047619047619047, 's/all': 0.19540229885057472, 'h/all': 0.045977011494252873, 'index': 82.0},
{'h/(h+s)': 0.43137254901960786, 's/all': 0.29531568228105909, 'h/all': 0.22403258655804481, 'index': 83.0},
{'h/(h+s)': 0.22222222222222221, 's/all': 0.3559322033898305, 'h/all': 0.10169491525423729, 'index': 84.0},
{'h/(h+s)': 0.28421052631578947, 's/all': 0.24285714285714285, 'h/all': 0.096428571428571433, 'index': 85.0},
{'h/(h+s)': 0.34397163120567376, 's/all': 0.28951486697965573, 'h/all': 0.15179968701095461, 'index': 86.0},
{'h/(h+s)': 0.21989528795811519, 's/all': 0.44610778443113774, 'h/all': 0.12574850299401197, 'index': 87.0},
{'h/(h+s)': 0.30959752321981426, 's/all': 0.32318840579710145, 'h/all': 0.14492753623188406, 'index': 88.0},
{'h/(h+s)': 0.041666666666666664, 's/all': 0.33658536585365856, 'h/all': 0.014634146341463415, 'index': 89.0},
{'h/(h+s)': 0.33333333333333331, 's/all': 0.24365482233502539, 'h/all': 0.12182741116751269, 'index': 90.0},
{'h/(h+s)': 0.13333333333333333, 's/all': 0.12206572769953052, 'h/all': 0.018779342723004695, 'index': 91.0},
{'h/(h+s)': 0.67808219178082196, 's/all': 0.15932203389830507, 'h/all': 0.33559322033898303, 'index': 92.0},
{'h/(h+s)': 0.59999999999999998, 's/all': 0.22222222222222221, 'h/all': 0.33333333333333331, 'index': 93.0},
{'h/(h+s)': 0.51657458563535907, 's/all': 0.18939393939393939, 'h/all': 0.20238095238095238, 'index': 94.0},
{'h/(h+s)': 0.26063829787234044, 's/all': 0.2417391304347826, 'h/all': 0.085217391304347828, 'index': 95.0},
{'h/(h+s)': 0.45000000000000001, 's/all': 0.125, 'h/all': 0.10227272727272728, 'index': 96.0},
{'h/(h+s)': 0.34848484848484851, 's/all': 0.28429752066115704, 'h/all': 0.15206611570247933, 'index': 97.0},
{'h/(h+s)': 0.22321428571428573, 's/all': 0.23835616438356164, 'h/all': 0.068493150684931503, 'index': 98.0},
{'h/(h+s)': 0.125, 's/all': 0.3783783783783784, 'h/all': 0.054054054054054057, 'index': 100.0},
{'h/(h+s)': 0.17153284671532848, 's/all': 0.58056265984654731, 'h/all': 0.12020460358056266, 'index': 251.0},
{'h/(h+s)': 0.051948051948051951, 's/all': 0.48993288590604028, 'h/all': 0.026845637583892617, 'index': 252.0},
{'h/(h+s)': 0.049382716049382713, 's/all': 0.40957446808510639, 'h/all': 0.021276595744680851, 'index': 253.0},
{'h/(h+s)': 0.14285714285714285, 's/all': 0.4370860927152318, 'h/all': 0.072847682119205295, 'index': 254.0}])
emotions = emotions.groupby('index').last()
emotions.head()

        h/(h+s)     h/all     s/all
index
1.0    0.300940  0.132964  0.308864
2.0    0.124506  0.075721  0.532452
3.0    0.065934  0.049180  0.696721
4.0    0.137931  0.077419  0.483871
5.0    0.132780  0.048411  0.316188

In [6]:
movies['emotions h/(h+s)'] = emotions['h/(h+s)']
movies['emotions h/all'] = emotions['h/all']
movies['emotions s/all'] = emotions['s/all']

In [7]:
movies

,title,description,img_url,year,genre,brightness,emotions h/(h+s),emotions h/all,emotions s/all
id,,,,,,,,,
1,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,https://image.tmdb.org/t/p/w500/9O7gLzmreU0nGk...,1994,"Crime, Drama",47.020722,0.300940,0.132964,0.308864
2,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",https://image.tmdb.org/t/p/w500/rPdtLWNsZmAtoZ...,1972,"Crime, Drama",34.349709,0.124506,0.075721,0.532452
3,The Godfather: Part II,In the continuing saga of the Corleone crime f...,https://image.tmdb.org/t/p/w500/bVq65huQ8vHDd1...,1974,"Crime, Drama",41.986425,0.065934,0.049180,0.696721
4,The Dark Knight,Batman raises the stakes in his war on crime. ...,https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7D...,2008,"Crime, Drama, Action",28.698337,0.137931,0.077419,0.483871
5,12 Angry Men,The defense and the prosecution have rested an...,https://image.tmdb.org/t/p/w500/3W0v956XxSG5xg...,1957,Drama,64.294988,0.132780,0.048411,0.316188
6,Schindler's List,The true story of how businessman Oskar Schind...,https://image.tmdb.org/t/p/w500/yPisjyLweCl1tb...,1993,"Drama, History, War",54.941051,0.262857,0.142415,0.399381
7,Pulp Fiction,"A burger-loving hit man, his philosophical par...",https://image.tmdb.org/t/p/w500/dM2w364MScsjFf...,1994,"Crime, Thriller",48.734507,0.214022,0.085546,0.314159
8,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,https://image.tmdb.org/t/p/w500/uexxR7Kw1qYbZk...,2003,"Action, Adventure, Fantasy",62.477168,0.182278,0.084806,0.380448
9,"The Good, the Bad and the Ugly",While the Civil War rages between the Union an...,https://image.tmdb.org/t/p/w500/wfPHdfofBD5PN9...,1966,Western,79.397643,0.284946,0.114224,0.286638
10,Fight Club,A ticking-time-bomb insomniac and a slippery s...,https://image.tmdb.org/t/p/w500/adw6Lq9FiC9zjY...,1999,Drama,33.114172,0.288660,0.121739,0.300000
11,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",https://image.tmdb.org/t/p/w500/bxVxZb5O9OxCO0...,2001,"Action, Adventure, Fantasy",38.935232,0.152610,0.065348,0.362855
12,Forrest Gump,A man with a low IQ has accomplished great thi...,https://image.tmdb.org/t/p/w500/yE5d3BUhE8hCnk...,1994,"Drama, Comedy, Romance",64.425850,0.206897,0.101124,0.387640
13,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",https://image.tmdb.org/t/p/w500/6u1fYtxG5eqjht...,1980,"Action, Adventure, Science Fiction",59.386529,0.066667,0.027027,0.378378
14,Inception,"Cobb, a skilled thief who commits corporate es...",https://image.tmdb.org/t/p/w500/qmDpIHrmpJINaR...,2010,"Action, Thriller, Adventure",39.098368,0.053743,0.027861,0.490547
15,The Lord of the Rings: The Two Towers,Frodo and Sam are trekking to Mordor to destro...,https://image.tmdb.org/t/p/w500/wf3v0Pn09jnT5H...,2002,"Action, Adventure, Fantasy",50.766632,0.136364,0.052310,0.331299
16,One Flew Over the Cuckoo's Nest,While serving time for insanity at a state men...,https://image.tmdb.org/t/p/w500/2Sns5oMb356JNd...,1975,Drama,72.222088,0.296296,0.145455,0.345455
17,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",https://image.tmdb.org/t/p/w500/hAPeXBdGDGmXRP...,1990,"Crime, Drama",36.256425,0.182927,0.077990,0.348354
18,The Matrix,"Set in the 22nd century, The Matrix tells the ...",https://image.tmdb.org/t/p/w500/hEpWvX6Bp79eLx...,1999,"Action, Science Fiction",45.724982,0.116935,0.045597,0.344340
19,Seven Samurai,A samurai answers a village's request for prot...,https://image.tmdb.org/t/p/w500/v6xrz4fr92KY1o...,1954,"Drama, Action",51.716240,0.271930,0.068282,0.182819
20,Star Wars,Princess Leia is captured and held hostage by ...,https://image.tmdb.org/t/p/w500/btTdmkgIvOi0FF...,1977,"Action, Adventure, Science Fiction",46.396116,0.250000,0.093407,0.280220
21,City of God,Cidade de Deus is a shantytown that started du...,https://image.tmdb.org/t/p/w500/gCqnQaq8T4Cfio...,2002,"Crime, Drama",64.834224,0.327869,0.152672,0.312977
22,Se7en,Two homicide detectives are on a desperate hun...,https://image.tmdb.org/t/p/w500/8zw8IL4zEPjkh8...,1995,"Crime, Thriller, Mystery",36.985065,0.156425,0.086420,0.466049
23,The Silence of the Lambs,"FBI trainee, Clarice Starling ventures into a ...",https://image.tmdb.org/t/p/w500/qjAyTj2BSth1EQ...,1991,"Crime, Drama, Thriller",38.877503,0.345622,0.142857,0.270476
24,It's a Wonderful Life,George Bailey has spent his entire life giving...,https://image.tmdb.org/t/p/w500/qZJ6d1SDsfoztm...,1946,"Drama, Fantasy, Family",45.888214,0.462810,0.191453,0.222222
25,Life Is Beautiful,A touching story of an Italian book seller of ...,https://image.tmdb.org/t/p/w500/f7DImXDebOs148...,1997,"Drama, Comedy",62.228855,0.481481,0.176699,0.190291
26,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",https://image.tmdb.org/t/p/w500/jgJoRWltoS17nD...,1995,"Crime, Drama, Thriller",48.145752,0.116071,0.044521,0.339041
27,Leon: The Professional,"Leon, the top hit man in New York, has earned ...",https://image.tmdb.org/t/p/w500/gE8S02QUOhVnAm...,1994,"Crime, Drama, Thriller",65.880076,0.084175,0.047619,0.518095
28,Saving Private Ryan,"As U.S. troops storm the beaches of Normandy, ...",https://image.tmdb.org/t/p/w500/8vY06et6B9TuMO...,1998,"Drama, History, War",79.588689,0.248677,0.149206,0.450794
29,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",https://image.tmdb.org/t/p/w500/dL11DBPcRhWWnJ...,2001,"Fantasy, Family, Animation",75.286732,0.303030,0.109890,0.252747
30,American History X,Derek Vineyard is paroled after serving 3 year...,https://image.tmdb.org/t/p/w500/fXepRAYOx1qC3w...,1998,Drama,60.174631,0.216912,0.101549,0.366609
...,...,...,...,...,...,...,...,...,...
225,"Monsters, Inc.","James Sullivan and Mike Wazowski are monsters,...",https://image.tmdb.org/t/p/w500/93Y9BGx8blzmZO...,2001,"Comedy, Family, Animation",NaN,NaN,NaN,NaN
226,Donnie Darko,"After narrowly escaping a bizarre accident, a ...",https://image.tmdb.org/t/p/w500/nmb4QhCRmdfNP6...,2001,"Drama, Fantasy, Mystery",NaN,NaN,NaN,NaN
227,Barry Lyndon,"In the Eighteenth Century, in a small village ...",https://image.tmdb.org/t/p/w500/hxl6rjUCmWD65G...,1975,"Drama, War, Romance",NaN,NaN,NaN,NaN
228,Annie Hall,"In the city of New York, comedian Alvy Singer ...",https://image.tmdb.org/t/p/w500/dEtjPywhDbAXYj...,1977,"Drama, Comedy, Romance",NaN,NaN,NaN,NaN
229,The Terminator,"In the post-apocalyptic future, reigning tyran...",https://image.tmdb.org/t/p/w500/q8ffBuxQlYOHrv...,1984,"Action, Thriller, Science Fiction",NaN,NaN,NaN,NaN
230,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,https://image.tmdb.org/t/p/w500/weUSwMdQIa3NaX...,2015,"Action, Adventure, Fantasy",NaN,NaN,NaN,NaN
231,Munna Bhai M.B.B.S.,A gangster sets out to fulfill his father's dr...,https://image.tmdb.org/t/p/w500/zWm8tivdcDyfUu...,2003,Comedy,NaN,NaN,NaN,NaN
232,The Bourne Ultimatum,Bourne is brought out of hiding once again by ...,https://image.tmdb.org/t/p/w500/fHho6JYYY0nRcE...,2007,"Drama, Action, Thriller",NaN,NaN,NaN,NaN
233,The Wizard of Oz,Young Dorothy finds herself in a magical world...,https://image.tmdb.org/t/p/w500/tKEHoKPZv3af0P...,1939,"Adventure, Fantasy, Family",NaN,NaN,NaN,NaN
234,Groundhog Day,"A narcissistic TV weatherman, along with his a...",https://image.tmdb.org/t/p/w500/vXjVd0Vu0MXRZn...,1993,"Drama, Fantasy, Comedy",NaN,NaN,NaN,NaN
235,La Haine,Aimlessly whiling away their days in the concr...,https://image.tmdb.org/t/p/w500/jTzBED0leGPwWD...,1995,Drama,NaN,NaN,NaN,NaN
236,8½,With 8 ½ Frederico Fellini leaves a self-portr...,https://image.tmdb.org/t/p/w500/5pQlc8dp5dXzWg...,1963,"Drama, Fantasy",NaN,NaN,NaN,NaN
237,Jaws,An insatiable great white shark terrorizes the...,https://image.tmdb.org/t/p/w500/l1yltvzILaZcx2...,1975,"Thriller, Adventure, Horror",NaN,NaN,NaN,NaN
238,The Best Years of Our Lives,It's the hope that sustains the spirit of ever...,https://image.tmdb.org/t/p/w500/kKTyZW3CtyKdDK...,1946,"Drama, History, Romance",NaN,NaN,NaN,NaN
239,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...,1995,"Thriller, Science Fiction, Mystery",NaN,NaN,NaN,NaN
240,Infernal Affairs,"Chan Wing Yan, a young police officer, has bee...",https://image.tmdb.org/t/p/w500/g4LGFGLGjVXkWG...,2002,"Crime, Drama, Action",NaN,NaN,NaN,NaN
241,The Help,Aibileen Clark is a middle-aged African-Americ...,https://image.tmdb.org/t/p/w500/6u85CuvnbrzWMh...,2011,Drama,NaN,NaN,NaN,NaN
242,In the Mood for Love,A melancholy story about the love between a wo...,https://image.tmdb.org/t/p/w500/unOW3SxFxBdd7L...,2000,"Drama, Romance",NaN,NaN,NaN,NaN
243,The Handmaiden,"1930s Korea, in the period of Japanese occupat...",https://image.tmdb.org/t/p/w500/wvzfK5QR6dGLwN...,2016,"Drama, Thriller, Romance",NaN,NaN,NaN,NaN
244,"Paris, Texas",A man wanders out of the desert not knowing wh...,https://image.tmdb.org/t/p/w500/vbtDskCLmlDKtz...,1984,Drama,NaN,NaN,NaN,NaN
245,The Battle of Algiers,Tracing the struggle of the Algerian Front de ...,https://image.tmdb.org/t/p/w500/zsNc43QfSqeMBW...,1966,"Drama, History, War",NaN,NaN,NaN,NaN
246,Beauty and the Beast,"Follow the adventures of Belle, a bright young...",https://image.tmdb.org/t/p/w500/b9QJr2oblOu1gr...,1991,"Fantasy, Romance, Music",NaN,NaN,NaN,NaN
247,Dead Poets Society,"At an elite, old-fashioned boarding school in ...",https://image.tmdb.org/t/p/w500/3Ri2GReavqSHqW...,1989,Drama,NaN,NaN,NaN,NaN
248,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",https://image.tmdb.org/t/p/w500/tkt9xR1kNX5R9r...,2003,"Action, Adventure, Fantasy",NaN,NaN,NaN,NaN
249,Dog Day Afternoon,A man robs a bank to pay for his lover's opera...,https://image.tmdb.org/t/p/w500/qgWuZ2yNJrclU8...,1975,"Crime, Drama, Thriller",NaN,NaN,NaN,NaN
250,Castle in the Sky,The orphan Sheeta inherited a mysterious cryst...,https://image.tmdb.org/t/p/w500/yuZiIeqV5uvhyM...,1986,"Action, Adventure, Fantasy",NaN,NaN,NaN,NaN
251,Nymphomaniac: Vol. I,A self-diagnosed nymphomaniac recounts her ero...,https://images-na.ssl-images-amazon.com/images...,2013,"Thriller, Erotic",50.791242,0.171533,0.120205,0.580563
252,Mad Max: Fury Road,A woman rebels against a tyrannical ruler in p...,https://images-na.ssl-images-amazon.com/images...,2015,"Action, Adventure, Sci-Fi, Thriller",71.879490,0.051948,0.026846,0.489933
253,The Raid: Redemption,A S.W.A.T. team becomes trapped in a tenement ...,https://images-na.ssl-images-amazon.com/images...,2011,"Action, Shooter, Crime",32.157277,0.049383,0.021277,0.409574
254,Sin City,A film that explores the dark and miserable to...,https://images-na.ssl-images-amazon.com/images...,2005,"Crime, Thriller",36.376798,0.142857,0.072848,0.437086

## NSFW

In [8]:
nsfw = pd.DataFrame([{'id': 49, 'nsfw': 0.12803324891157991},
 {'id': 251, 'nsfw': 0.12427173096437343},
 {'id': 27, 'nsfw': 0.10127345606930263},
 {'id': 48, 'nsfw': 0.091066260678333677},
 {'id': 30, 'nsfw': 0.088517387646901438},
 {'id': 66, 'nsfw': 0.083062042683728285},
 {'id': 43, 'nsfw': 0.079980412156837835},
 {'id': 29, 'nsfw': 0.075674206686828227},
 {'id': 63, 'nsfw': 0.075136684573816587},
 {'id': 79, 'nsfw': 0.070367957965072447},
 {'id': 50, 'nsfw': 0.066830576938884029},
 {'id': 80, 'nsfw': 0.066434479998800575},
 {'id': 252, 'nsfw': 0.063651429114710834},
 {'id': 89, 'nsfw': 0.06329646293244813},
 {'id': 21, 'nsfw': 0.062051070455963649},
 {'id': 31, 'nsfw': 0.061907801219374947},
 {'id': 34, 'nsfw': 0.06185185010872897},
 {'id': 57, 'nsfw': 0.061407749845439424},
 {'id': 23, 'nsfw': 0.061133126427244167},
 {'id': 9, 'nsfw': 0.05991659938467303},
 {'id': 71, 'nsfw': 0.059633364406498295},
 {'id': 18, 'nsfw': 0.059048292825515249},
 {'id': 7, 'nsfw': 0.058819108136212182},
 {'id': 76, 'nsfw': 0.056638927884520747},
 {'id': 36, 'nsfw': 0.056474511902873642},
 {'id': 87, 'nsfw': 0.050526421948984761},
 {'id': 253, 'nsfw': 0.050445977505549591},
 {'id': 97, 'nsfw': 0.04909991163738725},
 {'id': 46, 'nsfw': 0.049071786297058252},
 {'id': 14, 'nsfw': 0.048516987810584014},
 {'id': 65, 'nsfw': 0.048105712369692993},
 {'id': 16, 'nsfw': 0.047776789316901963},
 {'id': 45, 'nsfw': 0.047307022181555171},
 {'id': 47, 'nsfw': 0.046976960585785286},
 {'id': 81, 'nsfw': 0.046147103445212875},
 {'id': 93, 'nsfw': 0.045696814125362653},
 {'id': 6, 'nsfw': 0.044282932672288222},
 {'id': 8, 'nsfw': 0.044275491829895063},
 {'id': 26, 'nsfw': 0.044258296684435962},
 {'id': 254, 'nsfw': 0.043722153285401397},
 {'id': 12, 'nsfw': 0.042967815863665833},
 {'id': 10, 'nsfw': 0.042552579013881299},
 {'id': 86, 'nsfw': 0.042409835012689114},
 {'id': 41, 'nsfw': 0.041814516793774757},
 {'id': 83, 'nsfw': 0.041590335252164538},
 {'id': 96, 'nsfw': 0.041008528321235499},
 {'id': 33, 'nsfw': 0.039504191283612759},
 {'id': 56, 'nsfw': 0.039331428354005826},
 {'id': 11, 'nsfw': 0.03906443856860025},
 {'id': 67, 'nsfw': 0.038116053347883247},
 {'id': 39, 'nsfw': 0.037122814977768502},
 {'id': 88, 'nsfw': 0.036741018373420593},
 {'id': 15, 'nsfw': 0.034455747666212615},
 {'id': 55, 'nsfw': 0.034187419958607246},
 {'id': 1, 'nsfw': 0.033923077549873247},
 {'id': 54, 'nsfw': 0.033302473120184292},
 {'id': 17, 'nsfw': 0.032698603795401224},
 {'id': 94, 'nsfw': 0.032542859136944595},
 {'id': 51, 'nsfw': 0.0318040981714343},
 {'id': 69, 'nsfw': 0.031710438641186695},
 {'id': 22, 'nsfw': 0.031520876359776739},
 {'id': 70, 'nsfw': 0.030610960691659774},
 {'id': 61, 'nsfw': 0.030377041929504748},
 {'id': 20, 'nsfw': 0.029769691484562572},
 {'id': 59, 'nsfw': 0.029295395485517611},
 {'id': 52, 'nsfw': 0.028094540026099835},
 {'id': 19, 'nsfw': 0.027952790241596262},
 {'id': 95, 'nsfw': 0.027670363671323611},
 {'id': 37, 'nsfw': 0.027057677992214046},
 {'id': 100, 'nsfw': 0.026476928837901412},
 {'id': 5, 'nsfw': 0.026213070431106943},
 {'id': 85, 'nsfw': 0.025946635526492588},
 {'id': 75, 'nsfw': 0.02567973916032245},
 {'id': 40, 'nsfw': 0.023407941517719234},
 {'id': 28, 'nsfw': 0.022228561006061721},
 {'id': 32, 'nsfw': 0.022191062549995772},
 {'id': 73, 'nsfw': 0.022104962759744273},
 {'id': 2, 'nsfw': 0.021847095674021825},
 {'id': 44, 'nsfw': 0.021768131145109948},
 {'id': 13, 'nsfw': 0.021455317335811113},
 {'id': 84, 'nsfw': 0.021150212534043287},
 {'id': 53, 'nsfw': 0.021128224040124457},
 {'id': 3, 'nsfw': 0.020274866759697443},
 {'id': 60, 'nsfw': 0.020054448348529038},
 {'id': 78, 'nsfw': 0.020019612784582416},
 {'id': 38, 'nsfw': 0.019469704348170944},
 {'id': 98, 'nsfw': 0.019203207769443537},
 {'id': 92, 'nsfw': 0.019100137094166258},
 {'id': 25, 'nsfw': 0.018841848464759361},
 {'id': 74, 'nsfw': 0.018637541397517467},
 {'id': 72, 'nsfw': 0.017621777278193716},
 {'id': 91, 'nsfw': 0.016854237618564749},
 {'id': 64, 'nsfw': 0.016835582265681451},
 {'id': 82, 'nsfw': 0.016514779865412995},
 {'id': 4, 'nsfw': 0.016190141465774147},
 {'id': 68, 'nsfw': 0.015485364731341206},
 {'id': 58, 'nsfw': 0.013799748720795969},
 {'id': 35, 'nsfw': 0.013768812998252042},
 {'id': 77, 'nsfw': 0.012309088089946255},
 {'id': 24, 'nsfw': 0.011535445607158258},
 {'id': 90, 'nsfw': 0.011423312150499828}])
nsfw = nsfw.groupby('id').last()
nsfw.head()

        nsfw
id
1   0.033923
2   0.021847
3   0.020275
4   0.016190
5   0.026213

In [9]:
movies['nsfw'] = nsfw['nsfw']

## Gunshots

In [10]:
gunshots = pd.DataFrame([{'gunshots': 17.0, 'id': 1.0},
 {'gunshots': 76.0, 'id': 2.0},
 {'gunshots': 77.0, 'id': 3.0},
 {'gunshots': 186.0, 'id': 4.0},
 {'gunshots': 10.0, 'id': 5.0},
 {'gunshots': 13.0, 'id': 6.0},
 {'gunshots': 37.0, 'id': 7.0},
 {'gunshots': 13.0, 'id': 8.0},
 {'gunshots': 12.0, 'id': 9.0},
 {'gunshots': 43.0, 'id': 10.0},
 {'gunshots': 12.0, 'id': 11.0},
 {'gunshots': 10.0, 'id': 12.0},
 {'gunshots': 135.0, 'id': 13.0},
 {'gunshots': 57.0, 'id': 14.0},
 {'gunshots': 11.0, 'id': 15.0},
 {'gunshots': 13.0, 'id': 16.0},
 {'gunshots': 89.0, 'id': 17.0},
 {'gunshots': 233.0, 'id': 18.0},
 {'gunshots': 12.0, 'id': 19.0},
 {'gunshots': 156.0, 'id': 20.0},
 {'gunshots': 43.0, 'id': 21.0},
 {'gunshots': 22.0, 'id': 22.0},
 {'gunshots': 13.0, 'id': 23.0},
 {'gunshots': 13.0, 'id': 24.0},
 {'gunshots': 14.0, 'id': 25.0},
 {'gunshots': 13.0, 'id': 26.0},
 {'gunshots': 51.0, 'id': 27.0},
 {'gunshots': 14.0, 'id': 28.0},
 {'gunshots': 12.0, 'id': 29.0},
 {'gunshots': 42.0, 'id': 30.0},
 {'gunshots': 11.0, 'id': 31.0},
 {'gunshots': 11.0, 'id': 32.0},
 {'gunshots': 17.0, 'id': 33.0},
 {'gunshots': 14.0, 'id': 34.0},
 {'gunshots': 11.0, 'id': 35.0},
 {'gunshots': 13.0, 'id': 36.0},
 {'gunshots': 12.0, 'id': 37.0},
 {'gunshots': 11.0, 'id': 38.0},
 {'gunshots': 11.0, 'id': 39.0},
 {'gunshots': 10.0, 'id': 40.0},
 {'gunshots': 108.0, 'id': 41.0},
 {'gunshots': 99.0, 'id': 43.0},
 {'gunshots': 41.0, 'id': 44.0},
 {'gunshots': 21.0, 'id': 45.0},
 {'gunshots': 13.0, 'id': 46.0},
 {'gunshots': 10.0, 'id': 47.0},
 {'gunshots': 14.0, 'id': 48.0},
 {'gunshots': 13.0, 'id': 49.0},
 {'gunshots': 10.0, 'id': 50.0},
 {'gunshots': 113.0, 'id': 51.0},
 {'gunshots': 13.0, 'id': 52.0},
 {'gunshots': 11.0, 'id': 53.0},
 {'gunshots': 12.0, 'id': 54.0},
 {'gunshots': 14.0, 'id': 55.0},
 {'gunshots': 10.0, 'id': 56.0},
 {'gunshots': 13.0, 'id': 57.0},
 {'gunshots': 10.0, 'id': 58.0},
 {'gunshots': 10.0, 'id': 59.0},
 {'gunshots': 12.0, 'id': 60.0},
 {'gunshots': 10.0, 'id': 61.0},
 {'gunshots': 10.0, 'id': 62.0},
 {'gunshots': 10.0, 'id': 63.0},
 {'gunshots': 211.0, 'id': 64.0},
 {'gunshots': 11.0, 'id': 65.0},
 {'gunshots': 12.0, 'id': 66.0},
 {'gunshots': 98.0, 'id': 67.0},
 {'gunshots': 13.0, 'id': 68.0},
 {'gunshots': 61.0, 'id': 69.0},
 {'gunshots': 14.0, 'id': 70.0},
 {'gunshots': 10.0, 'id': 71.0},
 {'gunshots': 12.0, 'id': 72.0},
 {'gunshots': 10.0, 'id': 73.0},
 {'gunshots': 12.0, 'id': 74.0},
 {'gunshots': 97.0, 'id': 75.0},
 {'gunshots': 12.0, 'id': 76.0},
 {'gunshots': 11.0, 'id': 77.0},
 {'gunshots': 11.0, 'id': 78.0},
 {'gunshots': 11.0, 'id': 79.0},
 {'gunshots': 14.0, 'id': 80.0},
 {'gunshots': 10.0, 'id': 81.0},
 {'gunshots': 10.0, 'id': 82.0},
 {'gunshots': 14.0, 'id': 83.0},
 {'gunshots': 14.0, 'id': 84.0},
 {'gunshots': 14.0, 'id': 85.0},
 {'gunshots': 12.0, 'id': 86.0},
 {'gunshots': 13.0, 'id': 87.0},
 {'gunshots': 14.0, 'id': 88.0},
 {'gunshots': 14.0, 'id': 89.0},
 {'gunshots': 13.0, 'id': 90.0},
 {'gunshots': 13.0, 'id': 91.0},
 {'gunshots': 12.0, 'id': 92.0},
 {'gunshots': 10.0, 'id': 93.0},
 {'gunshots': 10.0, 'id': 94.0},
 {'gunshots': 13.0, 'id': 95.0},
 {'gunshots': 12.0, 'id': 96.0},
 {'gunshots': 13.0, 'id': 97.0},
 {'gunshots': 10.0, 'id': 98.0},
 {'gunshots': 441.0, 'id': 99.0},
 {'gunshots': 12.0, 'id': 100.0},
 {'gunshots': 11.0, 'id': 251.0},
 {'gunshots': 77.0, 'id': 252.0},
 {'gunshots': 228.0, 'id': 253.0},
 {'gunshots': 61.0, 'id': 254.0}])
gunshots = gunshots.groupby('id').last()
gunshots.head()

     gunshots
id
1.0      17.0
2.0      76.0
3.0      77.0
4.0     186.0
5.0      10.0

In [11]:
movies['gunshots'] = gunshots['gunshots']

## Norm

In [12]:
indexes = [x for x in list(movies.index) if x not in range(101, 251) and x not in [42, 48, 252, 62, 99, 93]]
movies = movies.loc[indexes]

In [13]:
def norm(series):
    return (series - np.average(series[~series.isnull()])) / np.std(series[~series.isnull()])

def norm2(series):
    return (series - 40) / np.std(series)

In [14]:
movies['norm_brightness'] = norm(movies['brightness'])
movies['norm_emotions h/(h+s)'] = norm(movies['emotions h/(h+s)'])
movies['norm_emotions h/all'] = norm(movies['emotions h/all'])
movies['norm_emotions s/all'] = norm(movies['emotions s/all'])
movies['norm_nsfw'] = norm(movies['nsfw'])
movies['norm_gunshots'] = norm2(movies['gunshots'])

movies = movies.dropna()

In [15]:
movies['id'] = movies.index

In [16]:
def movie_score(movie_params, user_happiness, user_bullets, user_brightness, user_sexuality):
    return 1./2 * 1./movie_params['id'] + \
           user_happiness * movie_params['norm_emotions h/(h+s)'] + \
           user_brightness * movie_params['norm_brightness'] + \
           user_sexuality * movie_params['norm_nsfw'] + \
           1.2 * user_bullets * movie_params['norm_gunshots']

In [17]:
def get_top10(user_happiness, user_bullets, user_brightness, user_sexuality):
    scores = [movie_score(row, user_happiness, user_bullets, user_brightness, user_sexuality) for idx, row in movies.iterrows()]
    top10_idx = np.argsort(scores)[::-1][:10]
    
    for idx in top10_idx:
        print(scores[idx])
    
    return top10_idx

In [18]:
user_happiness, user_bullets, user_brightness, user_sexuality = 1, 0, 1, 1
top10 = get_top10(user_happiness, user_bullets, user_brightness, user_sexuality)
movies.iloc[top10]

5.33881846734
3.75712583994
3.73061149369
3.36741156212
3.33706264104
3.31466401075
3.05502367575
2.98765615272
2.91431408258
2.89418855561

,title,description,img_url,year,genre,brightness,emotions h/(h+s),emotions h/all,emotions s/all,nsfw,gunshots,norm_brightness,norm_emotions h/(h+s),norm_emotions h/all,norm_emotions s/all,norm_nsfw,norm_gunshots,id
id,,,,,,,,,,,,,,,,,,
36,City Lights,City Lights is the first silent film that Char...,https://image.tmdb.org/t/p/w500/bXNvzjULc9jrOV...,1931,"Drama, Comedy, Romance",79.890983,0.652893,0.224432,0.119318,0.056475,13.0,1.657362,2.965798,2.026496,-1.828831,0.701770,-0.562830,36
81,Taare Zameen Par,Ishaan Awasthi is an eight-year-old whose worl...,https://image.tmdb.org/t/p/w500/wEHkOBcvEiNZpF...,2007,Drama,93.498414,0.382022,0.099780,0.161409,0.046147,10.0,2.532098,0.971358,-0.084487,-1.459744,0.247497,-0.625366,81
49,Memento,Suffering short-term memory loss after a head ...,https://image.tmdb.org/t/p/w500/fQMSaP88cf1nz4...,2000,"Thriller, Mystery",57.587745,0.202206,0.099099,0.390991,0.128033,13.0,0.223627,-0.352648,-0.096016,0.553435,3.849429,-0.562830,49
94,3 Idiots,In the tradition of “Ferris Bueller’s Day Off”...,https://image.tmdb.org/t/p/w500/wbE5SRTZFtQxgj...,2009,"Drama, Comedy, Romance",81.346520,0.516575,0.202381,0.189394,0.032543,10.0,1.750929,1.962077,1.653064,-1.214345,-0.350913,-0.625366,94
61,WALL·E,WALL·E is the last robot left on an Earth that...,https://image.tmdb.org/t/p/w500/9cJETuLMc6R0bT...,2008,"Family, Animation",80.392084,0.533333,0.222222,0.194444,0.030377,10.0,1.689574,2.085473,1.989076,-1.170058,-0.446181,-0.625366,61
29,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",https://image.tmdb.org/t/p/w500/dL11DBPcRhWWnJ...,2001,"Fantasy, Family, Animation",75.286732,0.303030,0.109890,0.252747,0.075674,12.0,1.361383,0.389731,0.086730,-0.658808,1.546308,-0.583675,29
52,The Great Dictator,Dictator Adenoid Hynkel tries to expand his em...,https://image.tmdb.org/t/p/w500/hK2KsU0lNiYRqI...,1940,Comedy,98.676717,0.348837,0.053097,0.099115,0.028095,13.0,2.864978,0.727012,-0.875056,-2.005989,-0.546582,-0.562830,52
38,Modern Times,The Tramp struggles to live in modern industri...,https://image.tmdb.org/t/p/w500/m4ZCx2Iwr418IG...,1936,"Drama, Comedy",86.161047,0.500000,0.165000,0.165000,0.019470,11.0,2.060425,1.840037,1.020017,-1.428252,-0.925963,-0.604521,38
57,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",https://image.tmdb.org/t/p/w500/4u1vptE8aXuzb5...,1988,"Drama, War, Animation",65.936689,0.416667,0.092593,0.129630,0.061408,13.0,0.760328,1.226446,-0.206204,-1.738411,0.918768,-0.562830,57
251,Nymphomaniac: Vol. I,A self-diagnosed nymphomaniac recounts her ero...,https://images-na.ssl-images-amazon.com/images...,2013,"Thriller, Erotic",50.791242,0.171533,0.120205,0.580563,0.124272,11.0,-0.213278,-0.578496,0.261406,2.215765,3.683970,-0.604521,251

In [19]:
movies.to_pickle('movies.pkl')

In [20]:
pd.set_option('display.max_rows', 500)